@model CustomerIndexVM

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3>@Model.whyUsSection.mainContentTitle</h3>
                    <p>@Model.whyUsSection.mainContentDescription</p>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>
                                <h4>@Model.whyUsSection.contentTitle_1</h4>
                                <p>@Model.whyUsSection.contentDescription_1</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4>@Model.whyUsSection.contentTitle_2</h4>
                                <p>@Model.whyUsSection.contentDescription_2</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-plus-medical"></i>
                                <h4>@Model.whyUsSection.contentTitle_3</h4>
                                <p>@Model.whyUsSection.contentDescription_3</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->